////////////////////////////////////
// general
////////////////////////////////////
.blog {
    background-color: $ice;
}

.blog main {
    display: flex;
}


////////////////////////////////////
// sidebar
////////////////////////////////////
aside {
    width: 40%;
    margin: 120px 0 0 0;

    @include set-none(800px);

    .sidebar-wrapper {
        background-color: $white;

        img {
            max-width: calc(100% - 20px);
            position: relative;
            top: -20px;
        }
    }
}

.color-block {
    width: 32%;
    height: 600px;
    background-color: $ice;
    float: left;
    display: block;
    position: relative;
    top: -20px;

    @include set-width(1000px, null, 14%, null);
}

.sidebar-text {
    padding: 0 20px 20px;
    margin-left: 32%;

    p {
        padding-bottom: 40px;
    }

    @include set-margin(1000px, null, null, null, 14%);
}

aside li::before {
    content: "\2022";
    color: $sea-green;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -2em;
    margin-right: 5px;
}


////////////////////////////////////
// main content - post
////////////////////////////////////
.main-content {
    width: 60%;
    margin-top: -30vh;

    @media (max-width: 800px) {
        @include set-wrapper();
        margin-top: -40vh;
    }

    > img {
        max-width: calc(100% - #{$shadow-width});
        box-shadow: -$shadow-width $shadow-width $canary;
        position: relative;
        left: $shadow-width;

        @media (max-width: 675px) {
            max-width: calc(100% - 20px);
            box-shadow: -20px 20px $canary;
            left: 20px;
        }
    }

    .post {
        padding: 100px 0 10px 60px;
        border: 5px solid $canary;
        border-right: none;
        border-top: none;

        @include set-padding(600px, 70px, null, null, 0);

        @media (max-width: 600px) {
            border: none;
        }

        .date {
            margin-bottom: 70px;

            @include set-margin(600px, null, null, 30px, null);
        }
    }
}


////////////////////////////////////
// main content - comments
////////////////////////////////////
.comments {
    margin: 40px 0 0 40px;

    @include set-margin(700px, null, null, null, 10px);

    h3 {
        margin-bottom: 60px;
    }
}

.comment-container {
    display: flex;

    .commenter {
        width: 12%;
        min-width: 100px;
    }

    .comment {
        max-width: 88%;
        padding-left: 40px;
        margin-bottom: 80px;

        @include set-padding(700px, null, null, null, 20px);
        @include set-margin(700px, null, null, 40px, null);

        > p {
            margin-top: -10px;
            margin-bottom: 20px;
        }
    }
}