////////////////////////////////////
// contact 
////////////////////////////////////
.contact {
    background-color: $ice;

    main {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 60px;
        position: relative;
        top: -30vh;

        @include set-flex-setting(800px, column, null, center);
        
        @media(max-width: 800px) {
            position: initial;
        }
    }

    .contact-detail {
        width: 30%;
        min-width: 290px;
        position: relative;
        bottom: -40px;
        margin-right: 50px;

        @media(max-width: 1300px) {
            bottom: -20px;
        }

        @include set-margin(800px, 40px, auto, 40px, auto);

        @media(max-width: 800px) {
            position: initial;
            text-align: center;
        }

        p {
            margin: 0;
        }
    }
}

.social-media {
    @include set-flex-setting(800px, null, space-around, null);

    a {
        margin-right: 30px;
        font-size: 1.5rem;

        @include set-margin(800px, null, 0, null, null);
    }
}