////////////////////////////////////
// contact 
////////////////////////////////////
.contact {
    background-color: $ice;
}

.contact main {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 60px;
    position: relative;
    top: -30vh;
}

.contact-detail {
    width: 30%;
    position: relative;
    bottom: -40px;
}

.contact form {
    width: 70%;
}

.social-media a {
    margin-right: 30px;
    font-size: 1.5rem;
}

.contact p {
    margin: 0;
}