////////////////////////////////////
// index
////////////////////////////////////
.index header {
    position: relative;
    @include bg(80vh, "../assets/header-image.jpg", 40% 50%);
}

.index header img {
    max-height: 70vh;
    width: auto;
    max-width: 40%;
    position: absolute;
    right: 0;
    bottom: -14vh;
    box-shadow: 0 0 0 6vh $canary;
}


////////////////////////////////////
// blog
////////////////////////////////////
.blog header {
    @include bg(70vh, "../assets/blog-header.jpg", center bottom);
}


////////////////////////////////////
// contact
////////////////////////////////////
.contact header {
    @include bg(70vh, "../assets/contact-header.jpg", 30% center);
}