////////////////////////////////////
// index - about
////////////////////////////////////
#about {
    background-color: $ice;
    padding: 25vh 15% 20vh;
    text-align: center;

    p {
        text-align: left;
    }
}


////////////////////////////////////
// index - checker
////////////////////////////////////
.checker {
    background-color: $white;
}

.checker > div > div {
    width: 46%;
}

.top-floor .checker-img,
.bottom-floor .wrapper {
    margin-right: 4%;
}

.top-floor .wrapper,
.bottom-floor .checker-img {
    margin-left: 4%;
}

.checker .wrapper {
    max-width: $wrapper-max / 2;
    margin: 0;
}

.top-floor,
.bottom-floor {
    display: flex;
    // align-items: center;
}

.top-floor img {
    position: relative;
    top: -100px;
    box-shadow: $shadow-width $shadow-width $canary;
}

.top-floor {
    padding: 60px 0 5px;
}

.bottom-floor {
    padding: 5px 0 60px;
    flex-direction: row-reverse;
}

.bottom-floor img {
    position: relative;
    bottom: -100px;
    box-shadow: -$shadow-width $shadow-width $canary;
}


////////////////////////////////////
// index - page links
////////////////////////////////////
.page-links {
    background-color: $ice;
    padding: 150px 0 60px;
}

.page-links .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.page-links .wrapper div {
    width: 50%;

    @include set-width(670px, null, 100%, null);
}

.page-links [aria-label="Go to the top picks page"] {
    font-size: 2.3rem;
}

.page-links [aria-label="Go to the community page"] {
    font-size: 1.6rem;
}

.page-links [aria-label="Go to the blog page"] {
    font-size: 1.7rem;
}

.page-links [aria-label="Go to the contact page"] {
    font-size: 1.5rem;
}

.page-links a {
    @include center(center, null);
}

.page-links i {
    background-color: $sea-green;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    
    @include center(center, center);
}

.page-links h3 {
    padding-left: 20px;
}

.page-links p {
    padding-left: 75px;
    margin: 0 0 60px;

    @include set-margin(670px, null, null, 30px, null);
}


////////////////////////////////////
// index - map bg
////////////////////////////////////
.map-bg {
    @include bg(60vh, "../assets/banner.jpg", center);

    @media (max-width: 600px) {
        height: 30vh;
    }
}


////////////////////////////////////
// index - profile
////////////////////////////////////
.profile {
    background-color: $ice;
    padding: 120px 0 100px;
}

.profile .wrapper {
    display: flex;
    justify-content: space-between;

    @include set-flex-setting(750px, column, null, center);
    
    div:first-child {
        max-width: 40%;
        min-width: 300px;
        margin-right: 10%;

        @include set-width(750px, auto, null, 80%);
        @include set-margin(750px, null, 0, null, null);

        img {
            box-shadow: $shadow-width $shadow-width $canary;
            margin-bottom: 60px;
        }
    }

    div:last-child {
        max-width: 60%;

        @include set-width(750px, null, null, 100%);

        h2 {
            @media (max-width: 750px) {
                text-align: center;
            }
        }

        p {
            margin-bottom: 55px;

            @include set-margin(750px, null, null, 30px, null);
        }

        div {
            @media (max-width: 750px) {
                text-align: center;
            }
        }
    }
}


////////////////////////////////////
// index - gallery
////////////////////////////////////
.gallery {
    background-color: $white;
    padding: 100px 0;

    .wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @include set-flex-setting(500px, null, space-evenly, null);

        img {
            width: 31%;
            margin-bottom: 10px;

            @include set-width(500px, null, 45%, null);
        }
    }
}
