// color theme
$canary: #fdfa69;
$sea-green: #4ceea7;
$black: #2c2c2c;
$white: #fafafa;
$ice: #effdf3;

// wrapper
$wrapper-max: 1400px;

// the side padding for the content of the site
$side-padding: 3%;

// blog - width of the main content
$main-content-width: ($wrapper-max * 0.6);
