// color theme
$canary: #fdfa69;
$sea-green: #4ceea7;
$black: #2c2c2c;
$white: #fafafa;
$ice: #effdf3;

// general wrapper
$wrapper-max: 80%;

// sidebar wrapper
$sidebar-wrapper: calc(40% * 2);

// blog content wrapper
$blog-content-wrapper: calc(60% * 4 / 3);

// box-shadow width
$shadow-width: 40px;
