// abstracts
@import "./variables";
@import "./mixins";

// base
@import "./setup";
@import "./typography";

// layout
@import "./header";
@import "./navigation";
@import "./sidebar";
@import "./forms";
@import "./footer";

// pages
@import "./index";
@import "./blog";
@import "./contact";


////////////////////////////////////
// general
////////////////////////////////////
.wrapper {
    @include set-wrapper();
}

.sidebar-wrapper {
    width: $sidebar-wrapper;
    max-width: 960px;

    @include set-width(1000px, null, calc(40% * 9 / 4), null);
}

.blog-content-wrapper {
    width: $blog-content-wrapper;
    max-width: 1440px;

    @include set-width(1000px, null, calc(60% * 3 / 2), null);

    @include set-width(800px, null, 100%, null);
}

.link {
    background-color: $sea-green;
    padding: 10px 20px;
    line-height: 29px;
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;    
}