article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

body {
  font-size: 125%;
  font-family: 'Roboto', sans-serif;
  line-height: 32px;
  color: #2c2c2c;
}

@media (max-width: 700px) {
  body {
    font-size: 112.5%;
    line-height: 26px;
  }
}

a,
h1,
h2,
h3,
h4,
button {
  font-family: 'Playfair Display', serif;
  margin: 0;
}

.index h1 {
  font-size: 6.9rem;
  position: absolute;
  bottom: 10vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
}

@media (max-width: 1500px) {
  .index h1 {
    font-size: calc(6 * 1.4vw);
  }
}

@media (max-width: 900px) {
  .index h1 {
    font-size: calc(5 * 2vw);
    bottom: 12vh;
  }
}

@media (max-width: 500px) {
  .index h1 {
    font-size: calc(5 * 3vw);
    bottom: 15vh;
  }
}

.index h2 {
  font-size: 2.1rem;
  letter-spacing: 1px;
}

@media (max-width: 900px) {
  .index h2 {
    font-size: calc(4 * 1vw);
  }
}

@media (max-width: 600px) {
  .index h2 {
    font-size: calc(5 * 1vw);
  }
}

.index h3 {
  font-size: 1.6rem;
  letter-spacing: 1px;
}

@media (max-width: 900px) {
  .index h3 {
    font-size: calc(3 * 1vw);
  }
}

@media (max-width: 700px) {
  .index h3 {
    font-size: calc(3.5 * 1vw);
  }
}

@media (max-width: 500px) {
  .index h3 {
    font-size: calc(4 * 1vw);
  }
}

.blog h1 {
  font-size: 4.6rem;
  width: 50%;
  position: relative;
  top: -40px;
  left: 40px;
}

@media (max-width: 500px) {
  .blog h1 {
    font-size: 3.5rem;
  }
}

.blog h2 {
  font-size: 2.6rem;
  line-height: 1.01;
}

@media (max-width: 500px) {
  .blog h2 {
    font-size: 1.8rem;
  }
}

.blog h3 {
  font-size: 2rem;
}

.blog h4 {
  font-size: 1.5rem;
  margin: 5px auto 20px;
}

.contact h1 {
  font-size: 4.6rem;
  line-height: 1.02;
  position: absolute;
  left: calc(30% + 50px);
  top: 25vh;
}

@media (max-width: 1000px) {
  .contact h1 {
    font-size: 3.8rem;
  }
}

@media (max-width: 800px) {
  .contact h1 {
    font-size: 3.3rem;
  }
}

@media (max-width: 500px) {
  .contact h1 {
    font-size: 2.5rem;
  }
}

.contact h3 {
  font-size: 1.3rem;
  margin: 20px auto;
}

.index header {
  position: relative;
  height: 80vh;
  background-image: url("../assets/header-image.jpg");
  background-position: 40% 50%;
  background-size: cover;
}

.index header img {
  max-height: 70vh;
  width: auto;
  max-width: 40%;
  position: absolute;
  right: 0;
  bottom: -14vh;
  -webkit-box-shadow: 0 0 0 6vh #fdfa69;
          box-shadow: 0 0 0 6vh #fdfa69;
}

.blog header {
  height: 70vh;
  background-image: url("../assets/blog-header.jpg");
  background-position: center bottom;
  background-size: cover;
}

.contact header {
  height: 70vh;
  background-image: url("../assets/contact-header.jpg");
  background-position: 30% center;
  background-size: cover;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav.wrapper {
  padding-top: 30px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 880px) {
  nav ul {
    display: none;
  }
}

li {
  margin-left: 40px;
}

a {
  text-decoration: none;
  color: #2c2c2c;
  line-height: 29px;
  letter-spacing: 1px;
  padding-bottom: 5px;
}

.active {
  border-bottom: 3px solid #4ceea7;
}

nav i.fas {
  display: none;
  color: #4ceea7;
  font-size: 1.8rem;
}

nav i.fas:hover {
  cursor: pointer;
}

@media (max-width: 880px) {
  nav i.fas {
    display: block;
  }
}

aside {
  width: 40%;
  margin: 120px 0 0 0;
}

@media (max-width: 800px) {
  aside {
    display: none;
  }
}

aside .sidebar-wrapper {
  background-color: #fafafa;
}

aside .sidebar-wrapper img {
  max-width: calc(100% - 20px);
  position: relative;
  top: -20px;
}

.color-block {
  width: 32%;
  height: 600px;
  background-color: #effdf3;
  float: left;
  display: block;
  position: relative;
  top: -20px;
}

@media (max-width: 1000px) {
  .color-block {
    width: 14%;
  }
}

.sidebar-text {
  padding: 0 20px 20px;
  margin-left: 32%;
}

.sidebar-text p {
  padding-bottom: 40px;
}

@media (max-width: 1000px) {
  .sidebar-text {
    margin-left: 14%;
  }
}

aside li::before {
  content: "\2022";
  color: #4ceea7;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -2em;
  margin-right: 5px;
}

form {
  margin-bottom: 80px;
}

form fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
  border: none;
}

@media (max-width: 700px) {
  form fieldset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

form input {
  width: 47%;
  border: none;
  border-bottom: 2px solid #4ceea7;
  padding: 20px;
  background: none;
}

@media (max-width: 700px) {
  form input {
    width: 100%;
  }
}

form textarea {
  width: 100%;
  margin: 40px auto;
  border: 2px solid #4ceea7;
  padding: 20px;
  background: none;
}

form button {
  background-color: #4ceea7;
  width: 100%;
  border: none;
  padding: 10px;
}

.contact form {
  max-width: 70%;
  -webkit-box-shadow: -40px 40px #fdfa69;
          box-shadow: -40px 40px #fdfa69;
  margin-bottom: 0;
  padding: 60px 70px;
  background-color: #fafafa;
}

@media (max-width: 1300px) {
  .contact form {
    -webkit-box-shadow: -20px 20px #fdfa69;
            box-shadow: -20px 20px #fdfa69;
    padding: 30px 35px;
  }
}

@media (max-width: 800px) {
  .contact form {
    max-width: 100%;
  }
}

::-webkit-input-placeholder {
  color: #2c2c2c;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #2c2c2c;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #2c2c2c;
  opacity: 1;
}

::placeholder {
  color: #2c2c2c;
  opacity: 1;
}

::-webkit-input-placeholder {
  color: #2c2c2c;
  opacity: 1;
}

::-moz-placeholder {
  color: #2c2c2c;
  opacity: 1;
}

:-moz-placeholder {
  color: #2c2c2c;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #2c2c2c;
  opacity: 1;
}

footer {
  background-color: #2c2c2c;
}

footer p {
  text-align: center;
  color: #fafafa;
  margin: 0;
  padding: 5px 0;
}

#about {
  background-color: #effdf3;
  padding: 25vh 15% 20vh;
  text-align: center;
}

#about p {
  text-align: left;
}

.checker {
  background-color: #fafafa;
}

.checker .checker-img {
  width: 42.5%;
}

@media (max-width: 1000px) {
  .checker .checker-img {
    width: 70%;
  }
}

.checker .top-floor {
  padding: 60px 0 5px;
}

.checker .top-floor .wrapper {
  padding-right: 10%;
}

@media (max-width: 1000px) {
  .checker .top-floor .wrapper {
    padding-top: 40px;
    padding-right: 0;
  }
}

.checker .bottom-floor {
  padding: 5px 0 60px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 1000px) {
  .checker .bottom-floor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.checker .bottom-floor .wrapper {
  padding-left: 10%;
}

@media (max-width: 1000px) {
  .checker .bottom-floor .wrapper {
    padding-top: 40px;
    padding-left: 0;
  }
}

.top-floor,
.bottom-floor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1000px) {
  .top-floor,
  .bottom-floor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.top-floor img {
  position: relative;
  top: -100px;
  -webkit-box-shadow: 40px 40px #fdfa69;
          box-shadow: 40px 40px #fdfa69;
}

@media (max-width: 1000px) {
  .top-floor img {
    position: initial;
    -webkit-box-shadow: 20px 20px #fdfa69;
            box-shadow: 20px 20px #fdfa69;
  }
}

.bottom-floor img {
  position: relative;
  bottom: -100px;
  -webkit-box-shadow: -40px 40px #fdfa69;
          box-shadow: -40px 40px #fdfa69;
}

@media (max-width: 1000px) {
  .bottom-floor img {
    position: initial;
    -webkit-box-shadow: -20px 20px #fdfa69;
            box-shadow: -20px 20px #fdfa69;
    margin-top: 60px;
  }
}

.checker .wrapper {
  width: 42.5%;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .checker .wrapper {
    width: 90%;
  }
}

@media (max-width: 1000px) {
  .checker .wrapper {
    text-align: center;
  }
  .checker .wrapper p {
    text-align: left;
  }
}

.page-links {
  background-color: #effdf3;
  padding: 150px 0 60px;
}

@media (max-width: 1000px) {
  .page-links {
    padding-top: 60px;
  }
}

.page-links .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-links .wrapper div {
  width: 50%;
}

@media (max-width: 670px) {
  .page-links .wrapper div {
    width: 100%;
  }
}

.page-links [aria-label="Go to the top picks page"] {
  font-size: 2.3rem;
}

.page-links [aria-label="Go to the community page"] {
  font-size: 1.6rem;
}

.page-links [aria-label="Go to the blog page"] {
  font-size: 1.7rem;
}

.page-links [aria-label="Go to the contact page"] {
  font-size: 1.5rem;
}

.page-links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-links a i {
  background-color: #4ceea7;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-links a h3 {
  padding-left: 20px;
}

.page-links p {
  padding-left: 75px;
  margin: 0 0 60px;
}

@media (max-width: 670px) {
  .page-links p {
    margin-bottom: 30px;
  }
}

.map-bg {
  height: 60vh;
  background-image: url("../assets/banner.jpg");
  background-position: center;
  background-size: cover;
}

@media (max-width: 600px) {
  .map-bg {
    height: 30vh;
  }
}

.profile {
  background-color: #effdf3;
  padding: 120px 0 100px;
}

.profile .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 750px) {
  .profile .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.profile .wrapper div:first-child {
  max-width: 40%;
  min-width: 300px;
  margin-right: 10%;
}

@media (max-width: 750px) {
  .profile .wrapper div:first-child {
    min-width: auto;
    max-width: 80%;
  }
}

@media (max-width: 750px) {
  .profile .wrapper div:first-child {
    margin-right: 0;
  }
}

.profile .wrapper div:first-child img {
  -webkit-box-shadow: 40px 40px #fdfa69;
          box-shadow: 40px 40px #fdfa69;
  margin-bottom: 60px;
}

.profile .wrapper div:last-child {
  max-width: 60%;
}

@media (max-width: 750px) {
  .profile .wrapper div:last-child {
    max-width: 100%;
  }
}

@media (max-width: 750px) {
  .profile .wrapper div:last-child h2 {
    text-align: center;
  }
}

.profile .wrapper div:last-child p {
  margin-bottom: 55px;
}

@media (max-width: 750px) {
  .profile .wrapper div:last-child p {
    margin-bottom: 30px;
  }
}

@media (max-width: 750px) {
  .profile .wrapper div:last-child div {
    text-align: center;
  }
}

.gallery {
  background-color: #fafafa;
  padding: 100px 0;
}

.gallery .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 500px) {
  .gallery .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.gallery .wrapper img {
  width: 31%;
  margin-bottom: 10px;
}

@media (max-width: 500px) {
  .gallery .wrapper img {
    width: 45%;
  }
}

.blog {
  background-color: #effdf3;
}

.blog main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content {
  width: 60%;
  margin-top: -30vh;
}

@media (max-width: 800px) {
  .main-content {
    width: 80%;
    max-width: 2400px;
    margin: 0 auto;
    margin-top: -40vh;
  }
}

@media (max-width: 800px) and (max-width: 1000px) {
  .main-content {
    width: 90%;
  }
}

.main-content > img {
  max-width: calc(100% - 40px);
  -webkit-box-shadow: -40px 40px #fdfa69;
          box-shadow: -40px 40px #fdfa69;
  position: relative;
  left: 40px;
}

@media (max-width: 675px) {
  .main-content > img {
    max-width: calc(100% - 20px);
    -webkit-box-shadow: -20px 20px #fdfa69;
            box-shadow: -20px 20px #fdfa69;
    left: 20px;
  }
}

.main-content .post {
  padding: 100px 0 10px 60px;
  border: 5px solid #fdfa69;
  border-right: none;
  border-top: none;
}

@media (max-width: 600px) {
  .main-content .post {
    padding-top: 70px;
    padding-left: 0;
  }
}

@media (max-width: 600px) {
  .main-content .post {
    border: none;
  }
}

.main-content .post .date {
  margin-bottom: 70px;
}

@media (max-width: 600px) {
  .main-content .post .date {
    margin-bottom: 30px;
  }
}

.comments {
  margin: 40px 0 0 40px;
}

@media (max-width: 700px) {
  .comments {
    margin-left: 10px;
  }
}

.comments h3 {
  margin-bottom: 60px;
}

.comment-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment-container .commenter {
  width: 12%;
  min-width: 100px;
}

.comment-container .comment {
  max-width: 88%;
  padding-left: 40px;
  margin-bottom: 80px;
}

@media (max-width: 700px) {
  .comment-container .comment {
    padding-left: 20px;
  }
}

@media (max-width: 700px) {
  .comment-container .comment {
    margin-bottom: 40px;
  }
}

.comment-container .comment > p {
  margin-top: -10px;
  margin-bottom: 20px;
}

.contact {
  background-color: #effdf3;
}

.contact main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 60px;
  position: relative;
  top: -30vh;
}

@media (max-width: 800px) {
  .contact main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 800px) {
  .contact main {
    position: initial;
  }
}

.contact .contact-detail {
  width: 30%;
  min-width: 290px;
  position: relative;
  bottom: -40px;
  margin-right: 50px;
}

@media (max-width: 1300px) {
  .contact .contact-detail {
    bottom: -20px;
  }
}

@media (max-width: 800px) {
  .contact .contact-detail {
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
  }
}

@media (max-width: 800px) {
  .contact .contact-detail {
    position: initial;
    text-align: center;
  }
}

.contact .contact-detail p {
  margin: 0;
}

@media (max-width: 800px) {
  .social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.social-media a {
  margin-right: 30px;
  font-size: 1.5rem;
}

@media (max-width: 800px) {
  .social-media a {
    margin-right: 0;
  }
}

.wrapper {
  width: 80%;
  max-width: 2400px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .wrapper {
    width: 90%;
  }
}

.sidebar-wrapper {
  width: calc(40% * 2);
  max-width: 960px;
}

@media (max-width: 1000px) {
  .sidebar-wrapper {
    width: calc(40% * 9 / 4);
  }
}

.blog-content-wrapper {
  width: calc(60% * 4 / 3);
  max-width: 1440px;
}

@media (max-width: 1000px) {
  .blog-content-wrapper {
    width: calc(60% * 3 / 2);
  }
}

@media (max-width: 800px) {
  .blog-content-wrapper {
    width: 100%;
  }
}

.link {
  background-color: #4ceea7;
  padding: 10px 20px;
  line-height: 29px;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
