article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

body {
  font-size: 125%;
  font-family: 'Roboto', sans-serif;
  line-height: 32px;
  color: #2c2c2c;
}

a,
h1,
h2,
h3,
button,
[type="email"] {
  font-family: 'Playfair Display', serif;
  margin: 0;
}

.index h1 {
  font-size: 6.9rem;
}

.index h2 {
  font-size: 2.1rem;
  letter-spacing: 1px;
}

.index h3 {
  font-size: 1.6rem;
  letter-spacing: 1px;
}

.blog h1 {
  font-size: 4.6rem;
}

.index header {
  position: relative;
  height: 80vh;
  background-image: url("../assets/header-image.jpg");
  background-position: left bottom;
  background-size: cover;
}

.index header img {
  height: 70vh;
  width: auto;
  position: absolute;
  right: 0;
  bottom: -14vh;
  -webkit-box-shadow: 0 0 0 6vh #fdfa69;
          box-shadow: 0 0 0 6vh #fdfa69;
}

.index header h1 {
  position: absolute;
  bottom: 10vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.blog header {
  height: 70vh;
  background-image: url("../assets/blog-header.jpg");
  background-position: center bottom;
  background-size: cover;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

li {
  margin-left: 40px;
}

a {
  text-decoration: none;
  color: #2c2c2c;
  line-height: 29px;
  letter-spacing: 1px;
}

.active {
  border-bottom: 3px solid #4ceea7;
}

nav i.fas {
  display: none;
  color: #4ceea7;
  font-size: 1.8rem;
  margin-top: 30px;
}

#about {
  background-color: #effdf3;
  padding: 25vh 15% 20vh;
  text-align: center;
}

#about p {
  text-align: left;
}

.checker {
  background-color: #fafafa;
}

.checker > div > div {
  width: 50%;
}

.top-floor .checker-img,
.bottom-floor .wrapper {
  padding-right: 100px;
}

.top-floor .wrapper,
.bottom-floor .checker-img {
  padding-left: 100px;
}

.checker .wrapper {
  max-width: 700px;
  margin: 0;
}

.top-floor,
.bottom-floor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-floor img {
  position: relative;
  top: -100px;
  -webkit-box-shadow: 3vw 3vw #fdfa69;
          box-shadow: 3vw 3vw #fdfa69;
}

.top-floor {
  padding: 60px 0 5px;
}

.bottom-floor {
  padding: 5px 0 60px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.bottom-floor img {
  position: relative;
  bottom: -100px;
  -webkit-box-shadow: -3vw 3vw #fdfa69;
          box-shadow: -3vw 3vw #fdfa69;
}

.page-links {
  background-color: #effdf3;
  padding: 150px 0 60px;
}

.page-links .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-links .wrapper div {
  width: 50%;
}

.page-links [aria-label="Go to the top picks page"] {
  font-size: 2.3rem;
}

.page-links [aria-label="Go to the community page"] {
  font-size: 1.6rem;
}

.page-links [aria-label="Go to the blog page"] {
  font-size: 1.7rem;
}

.page-links [aria-label="Go to the contact page"] {
  font-size: 1.5rem;
}

.page-links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-links i {
  background-color: #4ceea7;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-links h3 {
  padding-left: 25px;
}

.page-links p {
  padding-left: 80px;
  margin: 0 0 60px;
}

.map-bg {
  height: 60vh;
  background-image: url("../assets/banner.jpg");
  background-position: center;
  background-size: cover;
}

.profile {
  background-color: #effdf3;
  padding: 120px 0 100px;
}

.profile .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.profile img {
  margin-right: 120px;
  -webkit-box-shadow: 40px 40px #fdfa69;
          box-shadow: 40px 40px #fdfa69;
}

.profile p {
  margin-bottom: 55px;
}

.gallery {
  background-color: #fafafa;
  padding: 100px 0;
}

.gallery .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery img {
  width: 31%;
}

.blog main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #effdf3;
}

aside {
  max-width: 560px;
}

aside li::before {
  content: "\2022";
  color: #4ceea7;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -2em;
}

.main-content {
  max-width: 840px;
}

footer {
  background-color: #2c2c2c;
}

footer p {
  text-align: center;
  color: #fafafa;
  margin: 0;
  padding: 5px 0;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 3%;
  padding-right: 3%;
}

.link {
  background-color: #4ceea7;
  padding: 10px 20px;
  line-height: 29px;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
